<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Error</h1>
    <p><%= message %></p>
    <% if (process.env.NODE_ENV === 'development' && error) { %>
      <pre><%= error.stack %></pre>
    <% } %>
    <a href="/">Return to Home</a>
  </div>
</body>
</html>